<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="site">
    <div class="title">
      <a href="/">Mike Li</a>
      <a class="extra" href="/">home</a>
    </div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          Mike Li<br />
          Software Craftsman<br />
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/29decibel/">github.com/29decibel</a><br />
          <a href="http://twitter.com/29decibel/">twitter.com/29decibel</a><br />
        </p>
      </div>
    </div>
  </div>
  <a href="http://github.com/29decibel"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
</body>
</html>
